@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-std.min.css");
@import url(./footer.css);

html {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: "Pretendard Std Variable", "Pretendard Std", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    min-height: 100vh;
}

.top {
    width: 100vw;
    height: 100vh;
}

.bg_video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

.top .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0);
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    transition: 1s;
}

.scroll_1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scroll_1 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.scroll_1 h2 {
    padding: 3% 5% 2% 5%;
    font-size: 30px;
}

.scroll_1 .content .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 35%;
}

.scroll_1 .content .img img {
    max-width: 100%;
}

.scroll_1 .description {
    width: 30%;
    font-size: 25px;
    font-family: "Pretendard Std Variable", "Pretendard Std", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 500;
}

.scroll_2 {
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
}

.scroll_2 h2 {
    float: right;
    padding: 3% 5% 2% 5%;
    font-size: 30px;
}


.gallary {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.gallary img {
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .top .title {
        font-size: 15px;
    }

    .scroll_1 {
        overflow: visible;
        height: 100%;
    }

    .scroll_1 .content {
        flex-direction: column;
        align-items: center;
    }

    .scroll_1 .description {
        width: 80%;
        text-align: center;
    }

    .scroll_1 .content .img {
        width: 70%;
    }


    .gallary {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 960px) {
    .top .title {
        font-size: 10px;
    }

    .scroll_1 .description {
        font-size: 20px;
    }


    .gallary {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}